.span {
    display: inline-block;
    padding-right: 3px;

    font-size: 5rem;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    color: rgb(139 92 246);

    &:nth-child(3) {
        padding-right: 20px;
    }
}

